[submodule "libtelnet/libtelnet"]
	path = libtelnet/libtelnet
	url = https://github.com/ViaMonkey/libtelnet.git
[submodule "mongoose/mongoose"]
	path = mongoose/mongoose
	url = https://github.com/ViaMonkey/mongoose.git
[submodule "mongoose/mongoose-protocols"]
	path = mongoose/mongoose-protocols
	url = https://github.com/ViaMonkey/mongoose-protocols.git
